.social {
  display: flex;

  &__link {
    list-style: none;
    font-size: 4rem;

    padding: 1rem;

    transition: color 0.3s;

    &:hover {
      cursor: pointer;
    }
  }

  &__anchor {

    &:link,
    &:visited {
      color: $color-dom;
    }

    &:hover {
      color: $color-accent1;
    }
  }
}
