.tech {
  .bar {
    height: 30px;
    max-width: 800px;
    margin: 0 auto 10px auto;
    line-height: 30px;
    font-size: 16px;
    color: white;
    padding: 0 0 0 10px;
    position: relative;

    @include respond(tab-port) {
      margin-left: 0;
    }

    &--html:after {
      max-width: 90%;
      background: $color-html;
    }

    &--css:after {
      max-width: 70%;
      background: $color-css;
    }

    &--js:after {
      max-width: 80%;
      background: $color-js;
    }

    &--react:after {
      max-width: 70%;
      background: $color-react;
    }

    &--node:after {
      max-width: 60%;
      background: $color-node;
    }

    &--php:after {
      max-width: 40%;
      background: $color-php;
    }

    &--typescript:after {
      max-width: 80%;
      background: $color-typescript;
    }
  }
  .bar::before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    height: 30px;
    top: 0;
    z-index: -2;
    background: #ecf0f1;
  }
  .bar:hover::before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    height: 30px;
    top: 0;
    z-index: -2;
    background: #ecf0f1;
  }
  .bar::after {
    content: "";
    height: 30px;
    transition: 0.7s;
    display: block;
    width: 100%;
    animation: bar-before 1 1.8s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    clip-path: polygon(0 0, 98% 0, 100% 100%, 0 100%);
  }
  .bar:hover::after {
    content: "";
    height: 30px;
    transition: 0.7s;
    display: block;
    width: 100%;
    animation: bar-before 1 1.8s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    clip-path: polygon(0 0, 98% 0, 100% 100%, 0 100%);
  }
}
