// SHADOWS
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-darker: 0 1rem 2rem rgba(0, 0, 0, 0.3);

$shadow-card: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
$shadow-card-darker: 0 2px 4px 0 rgba(0, 0, 0, 0.4),
  0 3px 10px 0 rgba(0, 0, 0, 0.2);

// COLORS
$color-white: #fff;
$color-black: #2e303e;
$color-grey: #777;

$color-dom: #031541;
$color-accent1: #182675;
$color-accent2: #c37bb0;

$color-bg: #b0b0bd;
$color-bg-dark: #8c90a5;
$color-footer: #e8e8ea;
$color-form: #e8e8ea;

// $color-dom: #4f3558;
// $color-accent1: #328284;
// $color-accent2:#05a58d;

// $color-bg: #e9e7e9;
// $color-bg-dark: #909095;

$color-x: rgb(173, 173, 185);

$color-js: #f7df1e;
$color-node: #44883e;
$color-html: #e34f26;
$color-react: #00d8ff;
$color-css: #4285f4;

// FONT-SIZES
$font-xm: 0.7rem;
$font-s: 1rem;
$font-m: 1.7rem;
$font-l: 2rem;
$font-xl: 2.5rem;
