.about {
  // height: 1000px;

  .profile-wrapper {
    display: grid;
    grid-gap: 7rem;
  }

  .profile {
    position: relative;
    display: grid;
    grid-template-columns: 30% 1fr;

    grid-gap: 7rem;

    align-items: center;
    
    transition: all .5s ease;


    @include respond(tab=land) {
      grid-gap: 4.5rem;
    }

    @include respond(tab-port) {
      grid-template-columns: none;

      grid-gap: 3rem;
    }

    @include respond(phone) {
      grid-gap: 2.5rem;
    }

    &__description {
      animation: moveInTop .5s;
      display: grid;
      grid-template-columns: 1fr;

      box-shadow: $shadow-card;

      grid-gap: 5rem;

      padding: 5rem 1rem;
      
      &:hover {
        box-shadow: $shadow-card-darker;
      }

      @include respond(tab-port) {
        grid-template-columns: minmax(max-content, 1fr) 1fr;

        align-items: center;
      }

      @include respond(phone) {
        grid-template-columns: none;

        justify-items: center;
      }
    }

    &__text {
    
      font-size: $font-m;
      color: $color-black;
      

      @include respond(tab-port) {
        width: 70%;
      }

      @include respond(phone) {
        text-align: center;
        width: 55%;
      }
    }

    &__photo {
      position: relative;
      height: 20rem;
      width: 20rem;

      background: lighten($color-accent2, 15%);
      transition: background 1s ease-out;
      
      &:hover {
        background: $color-accent2;
      }

      margin: 0 auto;

      // clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
      // clip-path: ellipse(130px 140px at 10% 20%);
      // clip-path: circle(50%);
      box-shadow: $shadow-card;


      .image {
        height: 100%;
        
      }
    }
  }



  .more-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }
}

.tech {
  box-shadow: $shadow-card;
  padding: 5rem 1rem;

  &:hover {
    box-shadow: $shadow-card-darker;
  }
}
