.footer {
  // height: 25vh;
  min-height: 25rem;
  // background-color: $color-bg;
  background-color: $color-footer;
  display: grid;

  justify-items: center;
  align-items: center;

  font-size: 5rem;
  text-align: center;

  padding-bottom: 5rem;

  .return-to-top {
    position: relative;
    font-size: 3rem;

    transition: color 0.3s;

    cursor: pointer;

    color: $color-dom;

    &:hover {
      top: -1rem;
      color: $color-accent2;
    }
  }
}

.copyright {
  font-size: $font-s;
}
