.hero {
  height: 100vh;

  opacity: 1;

  background-color: transparent;
  background: url(../images/hero.gif);
  background-position: center;
  background-size: cover;
  transition: background-position 1s ease;

  @include respond(phone) {
    background-size: cover;
    background-position: -145%;

  }

  @media only screen and (max-width: 35.625em) {
    background-size: cover;
    background-position: -110%;
   };

  @media only screen and (max-width: 28.125em) { 
    background-position: -105%;
    background-size: cover;
  };

  @media only screen and (max-width: 26em) { 
    background-position: -60%;
    background-size: cover;
  };

  // @include respond(phone-s) {
  //   background-position: -60%;
  // }

  display: grid;

  justify-items: center;

  position: relative;

  &__logo {
    position: absolute;

    top: 0;
    left: 1rem;
    font-size: $font-xl;
    padding: 0 2rem;
    background: $color-bg;
    opacity: .5;

    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  }

  .greeting {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .greeting__text {
    color: $color-white;
    text-align: center;

    font-weight: 300;

    &--name {
      color: $color-dom;
    }

    &--accent {
      background: $color-dom;
      opacity: .7;
      padding: 0 3rem;
      margin-left: 3rem;

      display: inline-block;
      transform: skewX(-40deg);

      // clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);

      @include respond(phone-s) {
        margin-left: 0;
      }
      p {
        display: inline-block;
        transform: skewX(40deg);
      }
    }

    &--verbose {
      
      display: inline-block;

      @include respond(phone-s) {
        display: none;
      }
    }
  }

  .fly-in-text {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 30%;

    @include respond(tab-port) {
      top: 35%;
    }

    font-weight: 300;

    transform: translateX(-50%) translateY(-50%);

    opacity: 1;
    display: flex;

    // flex-wrap: wrap;

    & li {
      margin-right: 3rem;
      transition: all 2s ease;

      @include respond(phone) {
        margin-right: 1rem;
      }
    }

    & li:last-child {
      margin-right: 0;
    }

    &.hidden li {
      opacity: 0;

      &:nth-child(odd) {
        transform: translateX(-2rem) translateY(-10rem);
        color: $color-accent1;
      }
      &:nth-child(even) {
        transform: translateX(5rem) translateY(-10rem);
        color: $color-accent2;
      }
    }
  }
}
